@media (max-width: 1678px) {

	.gallery__wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.gallery__address {
		white-space: nowrap;
		margin-top: 0;
	}

	.gallery-outer--right {
		margin-right: 0;
	}

	.gallery-outer--left {
		margin-left: 0;
	}

	.gallery-outer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;

	}

	.gallery-inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-bottom: 25px;

	}
}


@media (max-width: 1424px) {
	.container-gallery {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.gallery-image {
		max-width: 100%;
	}

	.gallery__wrap {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.gallery-outer--left, .gallery-outer--right {
		margin: 0;
		width: 160px;
	}

	.gallery__address {
		word-wrap: break-word;
		margin-top: 25px;
	}
}

@media (max-width: 1407px) {
	.contacts {
		margin: 0 auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.contacts-right-column {
		position: static;
		width: auto;
	}
}

@media (max-width: 1280px) {
	.gallery-info__blind {
		left: 35%;
	}

	.gallery-info__porch {
		left: 41%;
	}

	.gallery-info__room {
		left: 32%;
	}

	.gallery-info__plumb {
		left: 36%;
	}

	.gallery-info__facade {
		left: 39%;
	}
}

@media (max-width: 1260px) {
	.price {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		min-height: 200px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.price-polygon__wrap {
		margin: 15px 0;
		-webkit-clip-path: none;
		clip-path: none;
		width: 70%;
		border-radius: 10px;
	}

	.price__form {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding-bottom: 0;
		margin-top: 0;
	}

	.price-btn__wrap {
		margin-top: 20px;
	}
}

@media (max-width: 1214px) {
	.round {
		left: 42%;
	}
}

@media (max-width: 1200px) {

	.container__inner {
		margin: 0 auto;
	}

	.video__block {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.ceo-message__container {
		width: 100%;
	}
}

@media (max-width: 1153px) {
	.ul-address {
		display: block;
	}
}

@media (max-width: 1024px) {
	.round {
		left: 40%;
	}

	.gallery-info__blind {
		left: 32%;
	}

	.gallery-info__porch {
		left: 38%;
	}

	.gallery-info__room {
		left: 25%;
	}

	.gallery-info__plumb {
		left: 31%;
	}

	.gallery-info__facade {
		left: 35%;
	}

	.gallery-info__snow {
		left: 25%;
	}

	.contacts__data span {
		font-size: 12px;
	}

}

@media (max-width: 1000px) {
	.img-container {
		padding-top: 150px;
	}

	.facade-container, .snow-container, .porch-container, .blindarea-container, .room-container, .cerem-container, .plumb-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.wrap {
		width: 100%;
	}

	.block_bot_1, .footer_block_right {
		display: none;
	}

	.top-block {
		width: 24%;
	}
}


@media (max-width: 953px) {

	#polyfil {
		display: none;
	}

	.contacts__offer b {
		color: #FFFFFF;
	}

	.contacts__offer .contacts-address__link {
		color: #FFFFFF;
	}

	.contacts__offer .contacts-address-tel__link {
		color: #FFFFFF;
	}

	.contacts__offer .contacts-address-mail__link {
		color: #FFFFFF;
	}

	.contacts_data b, span {
		color: #FFFFFF;
	}

	#btn .contacts__btn-name {
		color: #FFFFFF;
	}

	.icon-list b {
		color: #FFFFFF;
	}

	.head-address {
		height: 50px;
	}

	.construction-container, .hight-container, .renovation-container {
		background: none;
	}

	.img-container-hight {
		background-position: bottom;
	}

	.contact-map {
		width: 100%;
		height: 36vh;
		margin: 0;
	}

	.container__outer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.full_dop {
		margin-top: 40px;
		margin-bottom: 30px;
	}

	.div_dop_button {
		margin: 10px auto;
	}

	.dop_button {
		margin: 10px 0;
	}

	.main-contacts {
		bottom: 40%;
	}

	.main-footer {
		margin-top: 10px;
		margin-bottom: 0;
	}

	.wrap-border {
		width: 100%;
	}

	.roof-block__desc {
		padding: 15px 10px;
	}

}

@media (max-width: 878px) {
	.menu-item-has-children > a:after {
		left: 80px;
		bottom: 23px;
	}

	.header {
		position: static;
	}

	.main-contacts {
		position: absolute;
		top: 10%;
	}

	#ya-map {
		width: 100%;
	}

	.main-logo {
		margin-left: 50px;
	}

	.sub-menu {
		background: #000000;
		z-index: 100;
	}

	.sub-menu li {
		padding: 5px;
	}

	/*стили для гамбургер меню*/
	.menu-item #uslugi {
		font-size: 14px;
		color: #FFFFFF;
	}

	.menu-item {
		padding: 10px 5px;
	}

	.main-menu {
		height: 100%;
		background: transparent;
	}

	.header_nav {
		background: none;
	}

	.container .header_nav {
		background: transparent;
		z-index: unset;
	}

	.menu .sub-menu {
		position: static;
		min-width: 285px;
		background: #0c0c0c;
		border-radius: 5px;
		transform: translateX(-50px);

	}

	.middle__submenu {
		min-width: 100%;
	}

	.index__submenu {
		border: 1px solid #f88f3b;
		max-width: 100%;
	}

	.contacts__submenu, .middle__submenu {
		border: 1px solid #FFC300;
	}

	.container .sub-menu {
		position: static;
		transform: translateX(-50px);
	}

	.sub-menu li a {
		margin: 4px;
		font-size: 12px;
	}

	.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-top: 20px;
		text-align: left;
		z-index: 6;
	}

	.icon-1, .icon-2, .icon-3 {
		position: absolute;
		left: 28%;
		top: 48%;
		width: 18px;
		height: 3px;
		background-color: black;
		-webkit-transition: all 400ms cubic-bezier(.84, .06, .52, 1.8);
		-o-transition: all 400ms cubic-bezier(.84, .06, .52, 1.8);
		transition: all 400ms cubic-bezier(.84, .06, .52, 1.8);
	}

	.icon-1 {
		-webkit-transform: translateY(-8px);
		-ms-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-delay: 100ms;
		animation-delay: 100ms;
	}

	.icon-3 {
		-webkit-transform: translateY(8px);
		-ms-transform: translateY(8px);
		transform: translateY(8px);
		-webkit-animation-delay: 250ms;
		animation-delay: 250ms;
	}

	.hamburger-icon {
		position: absolute;
		height: 40px;
		width: 40px;
		top: 70px;
		left: 3%;
		z-index: 1000;
		cursor: pointer;
		border-radius: 50%;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		background: #ffa100;
	}

	.hamburger-icon:hover {
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
		-webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	}

	.icon-1.a {
		-webkit-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		transform: rotate(40deg);
	}

	.icon-3.b {
		-webkit-transform: rotate(-40deg);
		-ms-transform: rotate(-40deg);
		transform: rotate(-40deg);
	}

	.icon-2.c {
		opacity: 0;
	}

	.clear {
		clear: both;
	}

	@-webkit-keyframes slideIn {
		0% {
			width: 0%;
			opacity: 0;
		}

		100% {
			width: 50%;
			opacity: 1;
		}
	}

	@keyframes slideIn {
		0% {
			width: 0%;
			opacity: 0;
		}

		100% {
			width: 50%;
			opacity: 1;
		}
	}

	nav {
		background: #1D2327;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		opacity: 0;
		-webkit-transition: all 600ms cubic-bezier(.62, .04, .3, 1.56);
		-o-transition: all 600ms cubic-bezier(.62, .04, .3, 1.56);
		transition: all 600ms cubic-bezier(.62, .04, .3, 1.56);
		-webkit-transition-delay: 100ms;
		-o-transition-delay: 100ms;
		transition-delay: 100ms;
	}

	.menu {
		margin: 0;
		position: absolute;
		top: 0;
		left: -300px;
		width: 250px;
		border-radius: 10px;
	}

	.menu li {
		list-style: none;
		color: #fff;
		line-height: 2.2;
		text-transform: uppercase;
		letter-spacing: 1.7px;
	}

	.menu-main {
		top: 10vh;
	}

	nav.show {
		width: 50%;
		opacity: 1;
		left: 380px;
	}

	.dark-blue {
		position: absolute;
		top: 0;
		left: 0;
		background: #000000;
		height: 100%;
		min-height: 100%;
		width: 0;
		-webkit-transition: all 500ms cubic-bezier(.62, .04, .3, 1.8);
		-o-transition: all 500ms cubic-bezier(.62, .04, .3, 1.8);
		transition: all 500ms cubic-bezier(.62, .04, .3, 1.8);
		-webkit-transition-delay: 50ms;
		-o-transition-delay: 50ms;
		transition-delay: 50ms;
		z-index: 5;
		opacity: 1;

	}

	.dark-blue.slide {
		width: 70%;
		height: 100vh;
		opacity: 0.9;
		background: rgba(0, 0, 0, 0.9);
		border-radius: 0 0 10px 0;
	}

	@-webkit-keyframes shotup {
		0% {
			-webkit-transform: translateY(300%);
			transform: translateY(300%);
			opacity: 0;
		}
		90% {
			-webkit-transform: translateY(-50px);
			transform: translateY(-50px);
		}
		100% {
			-webkit-transform: translateY(0%);
			transform: translateY(0%);
			opacity: 1;
		}
	}

	@keyframes shotup {
		0% {
			-webkit-transform: translateY(300%);
			transform: translateY(300%);
			opacity: 0;
		}
		90% {
			-webkit-transform: translateY(-50px);
			transform: translateY(-50px);
		}
		100% {
			-webkit-transform: translateY(0%);
			transform: translateY(0%);
			opacity: 1;
		}
	}

	.index-footer__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.index-footer__item-wrap {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}


}

@media (max-width: 840px) {
	.round {
		left: 38%;
	}

	.head-address {
		height: 70px;
	}

	.hamburger-icon {
		top: 95px;
	}
}

@media screen and (max-width: 823px) and (orientation: landscape) {
	.hamburger-icon {
		top: 125px;
	}

	.contact-map {
		width: 33%;
		height: 100%;
	}

	.offer p {
		word-wrap: break-word;
	}

	.main #btn {
		margin-top: 10px;
	}

	.contacts-footer {
		top: 197px;
		left: 30%;
	}

	.main-index {
		left: 8vw;
	}

	.main-index {
		left: 9vw;
		top: 8%;
	}


}

@media screen and (max-width: 812px) and (orientation: landscape) {
	.contacts-footer {
		position: absolute;
		top: 210px;
		left: 103%;
	}

}


@media (max-width: 786px) {

	.top-address-text1 a {
		font-size: 12px;
	}

	.img-container-renovation {
		padding-top: 160px;
	}

	.block_bot_1 {
		display: none;
	}

	.footer_block_right {
		display: none;
	}

	footer {
		width: 100%;
	}

	.address-tel__link {
		font-size: 16px;
	}
}

@media (max-width: 768px) {

	.hamburger-icon {
		top: 135px;
	}

	.round {
		left: 37%;
	}

	.gallery-info__blind {
		left: 22%;
	}

	.gallery-info__porch {
		left: 32%;
	}

	.gallery-info__room {
		left: 17%;
	}

	.gallery-info__plumb {
		left: 25%;
	}

	.gallery-info__facade {
		left: 30%;
	}

	.gallery-info__snow {
		left: 14%;
	}

}

@media screen and (max-width: 731px) and (orientation: landscape) {
	.contacts-footer {
		top: 208px;
		left: 108%;
	}

	.main-contacts {
		top: 11%;
	}

	.main-index {
		top: 9%;
		left: 9vw;
	}

}

@media (max-width: 681px) {

	.top-address-none {
		display: none;
	}

	#polyfil {
		display: none;
	}

	.contact-map {
		width: 100%;
		margin: 0;

	}

	#ya-map {
		width: 100%;
	}

	.icon-list b {
		color: #FFFFFF;
	}

	.main-footer {
		margin: 15px 0 0 0;
	}

	.contacts__offer p b {
		color: #FFFFFF;
		font-size: 14px;
	}

	.contacts-address__link {
		color: #FFFFFF;
		font-size: 14px;
	}

	.contacts__data span {
		color: #FFFFFF;
		font-size: 14px;
	}

	.contacts__btn .contacts__btn-name {
		color: #FFFFFF;
		font-size: 14px;
	}

	.contacts-column {
		position: unset;
		left: 0;
		padding: 15px;
	}

	.footer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.footer_block {
		width: 100%;
		text-align: center;
	}

	.footer_block li {
		font-size: 16px;
	}

	.room__block-img, .snow__block-img, .blindarea__block-img {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

}

@media (max-width: 667px) {
	.ceo-message__title-main {
		line-height: 1.5;
	}
}

@media screen and (max-width: 667px) and (orientation: landscape) {
	.main-contacts {
		top: 5%;
	}

	.contact-map {
		width: 33%;
	}

	.contacts-footer {
		top: 242px;
		left: 84%;
	}
}

@media screen and (max-width: 653px) and (orientation: landscape) {
	.offer p {
		line-height: 1;
	}

	.main #btn {
		margin-top: 0;
	}

	.contacts-footer {
		top: 150px;
		left: 93%;
	}
}


@media screen and (max-width: 640px) and (orientation: landscape) {
	.offer p {
		line-height: 1.5;
	}

	.contacts-footer {
		top: 215px;
		left: 88%;
	}

	.contact-map {
		display: block;
		width: 33%;
		height: 100%;
	}

	.main-contacts {
		top: 13%;
		left: 3%;
	}

	.main-index {
		left: 10vw;
		top: 9%;
	}
}

@media (max-width: 624px) {

	.gallery-info__block--left {
		top: 38%;
		left: 20%;
	}

	.gallery-info__block--right {
		top: 38%;
		left: 22%;
	}

	.img-container-hight {
		padding: 250px 0;
	}

}

@media (max-width: 605px) {
	.menu-main {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.massive {
		line-height: 1.0 !important;
	}

	.about__video {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.about__description {
		margin: 15px;
	}

	.img-container-hight {
		padding: 250px 0;
	}

}

@media (max-width: 586px) {
	.container__policy {
		padding-top: 150px;
	}

	.video__container {
		padding-top: 150px;
	}

	.feedback {
		padding-top: 150px;
	}

	.head-address {
		height: 53px;
	}

	.hamburger-icon {
		top: 75px;
	}

	.full_dop {
		min-height: 430px;
	}
}

@media screen and (max-width: 568px) and (orientation: landscape) {
	.hamburger-icon {
		top: 120px;
	}
	.main-index {
		left: 11vw;
		top: 9%;
	}

	.index-footer__item-wrap {
		padding: 3px 10px;
	}
}

@media (max-width: 565px) {
	.round {
		left: 32%;
	}

	.full_dop {
		min-height: 450px;
	}

}

@media (max-width: 544px) {

	.map-section {
		padding-bottom: 40px;
	}

	.roof-block__desc {
		padding: 5px;
	}
}

@media (max-width: 540px) {
	.hamburger-icon {
		top: 118px;
	}

	.round {
		left: 32%;
	}

	.gallery-info__blind {
		left: 11%;
	}

	.gallery-info__porch {
		left: 26%;
	}

	.gallery-info__room {
		left: 2%;
	}

	.gallery-info__plumb {
		left: 14%;
	}

	.gallery-info__facade {
		left: 24%;
	}

	.gallery-info__snow {
		left: 1%;
	}

	.full_dop {
		min-height: 460px;
	}
}

@media (max-width: 528px) {

	.img-container-hight {
		padding: 200px 0;
		background-position: bottom;
	}

	.phone-number, .time-hours, .mail__address, .address__map {
		font-size: 14px;
	}

	.phone__title, .time__title, .mail__title, .address__title {
		font-size: 16px;
	}

	.full_dop {
		min-height: 495px;
	}

}


@media (max-width: 500px) {
	.header_nav {
		margin-top: -28px;
	}

	.head-address {
		height: 60px;
	}

	.hamburger-icon {
		top: 82px;
	}

	.price-name__input, .price-phone__input {
		width: 150px;
	}

}

@media (max-width: 490px) {
	#div_info_1, #div_info_2, #div_info_3 {
		min-height: 460px;
	}
}

@media (max-width: 457px) {

	.logo-img {
		margin-left: 50px;
	}

	.feedback__block-two {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.massive {
		line-height: 1.0 !important;
	}

	.button-porch {
		width: 100%;
		height: 100%;
	}

	.container-about {
		margin: unset;
	}

	.about__video video {
		max-width: 356px;
	}

	.button-blindarea {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 447px) {
	.full_dop {
		min-height: 500px;
	}
}

@media (max-width: 440px) {
	.index-footer__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
	}

	.full_dop {
		min-height: 550px;
	}
}

@media (max-width: 435px) {
	.gallery__wrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin: 0 auto;
	}

	.gallery__address {
		white-space: normal;
	}
}

@media (max-width: 414px) {
	.hamburger-icon {
		top: 128px;
	}

	.index-menu {
		text-align: left;
	}

	.contacts-menu {
		text-align: left;
	}

	.menu-main {
		text-align: left;
	}

	.sub-menu li {
		display: block;
	}

	.container .main .index__btn {
		margin-bottom: 10%;
	}

	#main-logo .index__logo {
		position: fixed;
		max-width: none;
		width: 60vw;
		top: 7vh;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%)
	}

	.main-contacts {
		top: 25%;
	}

	.container .main-footer .index-footer__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.container .index-footer {
		bottom: 5vh;
	}

	.round {
		left: 26%;
	}

	.gallery-info__blind {
		left: 4%;
	}

	.gallery-info__porch {
		left: 19%;
	}

	.gallery-info__plumb {
		left: 5%;
	}

	.gallery-info__facade {
		left: 14%;
	}

	.gallery-info__room {
		left: 4%;
	}

	.offer__desc {
		font-size: 12px;
	}

	.index-footer__list .address__link {
		font-size: 14px;
	}

	.index-footer__list .address-mail__link {
		font-size: 14px;
		margin: 5px 0;
	}

	.address-tel__link {
		font-size: 14px;
	}

	.index__offer {
		margin-top: 20px
	}

	.contacts__offer {
		margin-top: 5px;
	}

}

@media (max-width: 411px) {
	.round {
		left: 26%;
	}

	.gallery-info__blind {
		left: 5%;
	}

	.gallery-info__porch {
		left: 18%;
	}

	.gallery-info__room {
		left: 2%;
	}

	.gallery-info__plumb {
		left: 3%;
	}

	.gallery-info__facade {
		left: 17%;
	}

	.gallery-info__snow {
		left: 3%;
	}

	.hamburger-icon {
		top: 127px;
	}

	.full_dop {
		min-height: 570px;
	}

}

@media (max-width: 405px) {

	.hamburger-icon {
		top: 91px;
	}

	.head-address {
		height: 70px;
	}

	.img-container {
		padding-bottom: 0;
	}
}

@media (max-width: 394px) {
	.full_dop {
		min-height: 600px;
	}
}

@media (max-width: 389px) {
	.full_dop {
		min-height: 620px;
	}
}

@media (max-width: 375px) {
	.hamburger-icon {
		top: 138px;
	}

	.round {
		left: 24%;
	}

	.gallery-info__blind {
		left: 1%;
	}

	.gallery-info__porch {
		left: 14%;
	}

	.gallery-info__facade {
		left: 10%;
	}

	.main-contacts {
		top: 20%;
	}

	.main #btn {
		margin-top: 10px;
	}

	.contact-map {
		height: 34vh;
	}

	.sro-img {
		width: 80%;
	}

	#div_info_1, #div_info_2, #div_info_3 {
		min-height: 480px;
	}

	.contacts-footer {
		left: 2%;
	}
}

@media (max-width: 368px) {
	.round {
		left: 23px;
	}

	.logo-img {
		width: 70%;
	}

	.hamburger-icon {
		top: 143px;
	}

	.img-container-hight {
		padding-bottom: 50px;
	}
}

@media (max-width: 360px) {
	.hamburger-icon {
		top: 133px;
	}

	.header_nav {
		margin-top: -3px;
		height: 35px;
	}

	.round {
		left: 80px;
	}

	.gallery-info__blind {
		left: 8%;
	}

	.gallery-info__porch {
		left: 14%;
	}

	.gallery-info__room {
		left: 1%;
	}

	.gallery-info__plumb {
		left: 6%;
	}

	.gallery-info__facade {
		left: 7%;
	}

	.gallery-info__snow {
		left: 2%;
	}

	.snow__title, .blindarea__title, .porch__title, .room__title, .cerem__title, .plumb__title {
		font-size: 2.5em;
	}

}

@media (max-width: 355px) {
	.contacts-address__wrap {
		margin-left: 50px;
	}

	.time__wrap {
		margin-left: 99px;
	}

	.construction__title {
		font-size: 2.3em;
	}

	.full_dop {
		min-height: 670px;
	}

}

@media (max-width: 332px) {
	.facade__table td,
	.roof__table td,
	.snow__table td,
	.blindarea__table td,
	.porch__table td,
	.room__table td,
	.cerem__table td,
	.plumb__table td {
		padding: 0;
	}

	.full_dop {
		min-height: 880px;
	}

}

@media (max-width: 320px) {
	.head-address {
		height: 85px;
	}

	.hamburger-icon {
		top: 143px;
	}

	.container .sub-menu {
		transform: translateX(-60px);
	}

	.round {
		left: 19%;
	}

	.gallery-info__blind {
		left: 3%;
	}

	.gallery-info__porch {
		left: 7%;
	}

	.gallery-info__plumb {
		left: 2%;
	}

	.gallery-info__facade {
		left: 4%;
	}

	.gallery-info__snow {
		left: 0;
	}

	.fab {
		margin-left: 5px;
	}

	.main-contacts #btn {
		margin-top: 10px;
	}

}

@media (max-width: 280px) {
	.hamburger-icon {
		top: 141px;
	}
	.round {
		left: 15%;
	}

	/*.main-footer {*/
	/*	left: 45%;*/
	/*}*/
	.gallery-info__plumb {
		left: -1%;
	}

	.main-contacts {
		max-width: 85%;
	}

	.offer p {
		width: unset;
	}

	.ceo-message__btn {
		width: 100%;
	}

	.main-footer {
		left: 60%;
	}
}