.about {
	padding-top: 170px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.container-about {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
}

.about__title {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	color: #e5e5e5;
}

.about__video {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto 1.4em auto;
}

.about__video video {
	max-width: 356px;
	height: 311px;
	margin-right: 45px;
	margin-left: 15px;
}

.about__description {

}

.about__description-text p {
	color: #e5e5e5;
	margin-bottom: 1em;
	line-height: 1.4em;
	padding: 0 15px;
}

.about__description p {
	margin-bottom: 1em;
	color: #e5e5e5;
	line-height: 1.4em;
}

.about__description p a {
	text-decoration: underline;
	color: #fa903c;
}

.about__description ul {
	color: #e5e5e5;
	list-style-type: '- ';
	margin-bottom: 0.2em;
}

.vacancy {
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.container-vacancy {
	max-width: 1266px;
	margin: 0 auto;
}

.vacancy__title {
	text-align: center;
	color: #e5e5e5;
	font-size: 40px;
}

.vacancy__subtitle {
	text-align: center;
	color: #e5e5e5;
	font-size: 18px;
	margin-bottom: 40px;
	padding: 0 15px;
}

.vacancy-slider {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	position: relative;
	text-align: center;
	margin-top: 0.4em;
}

.vacancy-slide {
	margin-right: auto;
	position: relative;
	display: inline-block;
}

.vacancy-slide p {
	font-size: 18px;
	color: #e5e5e5;
}


.round {
	position: absolute;
	top: 10%;
	left: 13.5%;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid #e5e5e5;
	cursor: pointer;
}

.vacancy__btn {
	position: absolute;
	top: 45%;
	left: 12%;
	background: transparent;
	border: none;
	font-size: 18px;
	color: #e5e5e5;
	text-transform: uppercase;
	cursor: pointer;
}

.vacancy__img {
	-webkit-transition: all .5s cubic-bezier(.62, .2, .4, .83);
	-o-transition: all .5s cubic-bezier(.62, .2, .4, .83);
	transition: all .5s cubic-bezier(.62, .2, .4, .83);
	width: 271px;
	height: 230px;
	cursor: pointer;
	opacity: 1;
	margin: 15px 0;
}

.vacancy__img:hover {
	-webkit-transition: all .5s cubic-bezier(.62, .2, .4, .83);
	-o-transition: all .5s cubic-bezier(.62, .2, .4, .83);
	transition: all .5s cubic-bezier(.62, .2, .4, .83);
	opacity: 0.5;
}

.vacancy-slide .round {
	opacity: 0;
	-webkit-transition: all .5s cubic-bezier(.62, .2, .4, .83);
	-o-transition: all .5s cubic-bezier(.62, .2, .4, .83);
	transition: all .5s cubic-bezier(.62, .2, .4, .83);
}

.vacancy-slide:hover .round {
	opacity: 1;
	-webkit-transition: all .5s cubic-bezier(.62, .2, .4, .83);
	-o-transition: all .5s cubic-bezier(.62, .2, .4, .83);
	transition: all .5s cubic-bezier(.62, .2, .4, .83);
}

.choose {
	padding-top: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.choose__title {
	text-align: center;
	color: #e5e5e5;
	font-weight: 700;
	font-size: 40px;
	line-height: 56px;
	margin-bottom: 5vh;
}

.choose__wrap {
	margin: 0 auto;
	width: 1266px;
}

.choose-container {
	max-width: 1266px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.choose__card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
}


.choose__card p {
	color: #e5e5e5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
}

.container-contacts {
	width: 100%;
	min-height: 250px;
	color: #e5e5e5;

}

#contacts {
	width: 100%;
}

.contacts {
	margin: 0 auto;
	position: relative;
	padding-top: 123px;
}

.contacts__title {
	text-align: center;
	color: #e5e5e5;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 240px;
}

.contacts-column {
	position: absolute;
	left: 10%;
}

.contacts-phone__wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.phone-number__wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.phone-number {
	font-size: 18px;
	margin-bottom: 10px;
	color: #e5e5e5;
}

.phone__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 10px;
}

.time__title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.time__wrap {
	margin-left: 120px;
}

.time__wrap span {
	font-size: 18px;
	margin-bottom: 10px;
	color: #e5e5e5;
}

.contacts__wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin-top: 30px;
}

.mail__title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.mail__address {
	font-size: 18px;
	color: #e5e5e5;
}

.contacts-address__wrap {
	margin-left: 80px;
}

.address__title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.address__map {
	font-size: 18px;
	color: #e5e5e5;
}

.contacts-right-column {
	position: absolute;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-flow: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-flow: column;
	top: 44%;
	left: 51%;
	border: 1px solid #a9a9a9;
	background-color: #000;
	max-width: 100%;
	width: 40%;
	max-height: 100%;
	min-height: 360px;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.contacts-right-column #vacancy-btn {
	visibility: hidden;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	border: none;
	margin: 0;
	background-color: transparent;
	cursor: pointer
}


.contacts-right-column #vacancy-btn.active {
	visibility: visible;
}

.contacts-right-column #vacancy-btn svg {
	width: 15px;
	height: 13px
}

.contacts-right-column.active {
	z-index: 20;
	-webkit-animation: modal .5s cubic-bezier(.62, .2, .4, .83) infinite;
	animation: modal .5s cubic-bezier(.62, .2, .4, .83) infinite;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	position: fixed;
	left: 50%;
	top: 65%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.contacts-right-column__h2 h2 {
	font-size: 3.9vh;
	color: #e5e5e5;
	font-weight: 700;
	padding: 0 20px;
}

.forma {
	padding: 20px;
}

.input__wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.input-name {
	margin-right: 20px;
}

.input-name, .input-phone {
	border: none !important;
	border-radius: 0 !important;
	outline: none;
	min-width: 223px;
	width: 95%;
	height: 38px;
	min-height: 100%;
	margin: 5px 0;
}

#vacancy-btn {
	display: none;
}

.input-name::-webkit-input-placeholder, .input-phone::-webkit-input-placeholder {
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}

.input-name::-moz-placeholder, .input-phone::-moz-placeholder {
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}

.input-name:-ms-input-placeholder, .input-phone:-ms-input-placeholder {
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}

.input-name::-ms-input-placeholder, .input-phone::-ms-input-placeholder {
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}

.input-name::placeholder, .input-phone::placeholder {
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}

.join__btn {
	cursor: pointer;
	color: #e5e5e5;
	font-weight: 700;
	font-size: 14px;
	padding: 0;
	margin: 30px 0 0 20px;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	width: 222px;
	height: 36px;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	border: none;
	background: -webkit-gradient(
			linear, left top, left bottom, color-stop(0, #ffc300), color-stop(51.43%, #ff7304));
	background: -o-linear-gradient(
			top, #ffc300 0, #ff7304 51.43%);
	background: linear-gradient(
			180deg, #ffc300 0, #ff7304 51.43%);
}

.map {
	height: 550px;
}

@media (max-width: 1214px) {

	.input__wrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.vacancy-slider {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.vacancy-slide {
		margin: 0;
	}
}

@media (max-width: 523px) {
	.choose-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}